@font-face {
    font-family: "RapierZero";
    src: local("RapierZero"),
    url(@gac/shared/lib/assets/fonts/RapierZero-325M.ttf) format("truetype");
}

@font-face {
    font-family: "RubberStamp";
    src: local("RubberStamp"),
        url(@gac/shared/lib/assets/fonts/RubberStampStd.otf) format("truetype");
}

@font-face {
    font-family: "WorkSans";
    src: local("WorkSans"),
        url(@gac/shared/lib/assets/fonts/WorkSans-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "BowlbyOne";
    src: local("BowlbyOne"),
        url(@gac/shared/lib/assets/fonts/BowlbyOneSC-Regular.ttf) format("truetype");
}

body {
    margin: unset;
}